<p>
  sign-in works!
</p>


<form class="col-sm-6 pull-right col-xs-12" #f="ngForm">
  <div class="form-group row">
    <br>
    <label for="staticEmail" class="col-sm-2 col-form-label pull-right">מייל</label>
    <div class="col-sm-6 col-sm-offset-1 pull-right">
      <input type="text"  class="form-control" id="staticEmail" name="email" ng-model required email>
      
      <!--<span class="help-block" *ngIf="!email.valid && !email.touched">הכנס מייל תקין</span>#email="ngModel"-->
    </div>

  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label pull-right" >סיסמא</label>
    <div class="col-sm-6 col-sm-offset-1 pull-right">
      <input type="password" class="form-control" id="inputPassword" name="password" required ngModel>
    </div>
  </div>
<button type="submit" class="btn btn-primary" [disabled]="!f.valid" (click)="checkEmail()">כניסה</button>
</form>

