<p>
  profile works!
</p>
<div class="row">
  <div class="list-group-item col-xs-12">
      <span class="pull-right">
          <img src="..\..\assets\images\profile.jpg" class="image-responsive img" style="max-height:100px;">
        </span>
    <div class="pull-right"> 
<h4 class="list-group-item-heading">שם </h4>
<p class="list-group-item-text">ניקוד:100</p>
<div class="button-wrraper">
<a routerLink="/editProfile" class="btn btn-info">ערוך פרטים </a>
<button class="btn btn-secondary">צא</button>  
</div>
  </div>
  </div>
</div>

