
    <form class="col-sm-6 pull-right col-xs-12">
      <h3>ערוך פרטים</h3>
      <div class="row clearfix">
      <span class="img"><img src="..\..\assets\images\profile.jpg" class="img-responsive pull-right" style="max-height:100px;"> </span>
      <div class="pull-right"> 
           <input type="text" class="form-control name" placeholder="איילת פריי">
           <input type="email" class="form-control" placeholder="example@gmail.com">
           <div class="form-check">
              <label class="form-check-label pull-right">
             החלף סיסמא
            <input class="form-check-input" type="checkbox"> 
          </label>
        </div>
      </div>   
     </div>
    <label class="custom-file pull-right col-md-4"><span class="pull-right" id="img-choose">בחר תמונה</span><br>  
      <span class="custom-file-control col-md-4 col-xs-5"></span>
      <input type="file" id="file2" class="custom-file-input">
      </label>


     <div class="pull-left btns">
          <button type="button" class="btn btn-secondary">בטל</button>
          <button type="button" class="btn btn-info">שמור</button>
    </div>
    </form>
   

